

.bg-body-tertiary{

height: 80px;
}

.imglogo{
   height: 70px;
   width: 100px;
   margin-top: 2px;
   margin-right: 80px;
   margin-left: 20px;
   margin-bottom: 5px;
}
.howitworks{
    margin-left: 500px;
    margin-top: 50px;
}