.nav-item{
    padding: 0;
}
.offcanvas{
    padding: 0 2rem;
    overflow: hidden;
}
.signInLogBtn{
background-color: orangered;
}
@media screen and (max-width: 468px) {
    .btn{
        background-color: orangered;
        color: white;
        padding: 3px 22px;
        text-decoration: none;
        border-color: black;
        border-width: 4px;
        border-style: double;
        text-align: center;
        
    }
    .becart{
        justify-self: center;
        margin-top: 3px;
       display: flex;
    }
    .signIN&LogB{
        text-decoration: none;
        width: 100%;
    } 
}

/* d-flex lg:w-25 w-100 mx-3 mt-4 gap-4 */